<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
			
<mapper namespace="GroupArrMapper">


	<resultMap type="groupArr" id="groupArrSelectMap">
		<result property="role" column="role" jdbcType="CHAR"/>
		<result property="group.groupNo" column="group_no" jdbcType="INTEGER"/>
		<result property="group.groupDate" column="group_date" jdbcType="DATE"/>	
		<result property="user.userNo" column="user_no" jdbcType="INTEGER"/>
		<result property="user.tel" column="tel" jdbcType="VARCHAR"/>
		<result property="user.userName" column="user_name" jdbcType="VARCHAR"/>
		<result property="user.email" column="email" jdbcType="VARCHAR"/>	
	</resultMap>  	
  	
  	
  	<insert id="addGroupArr"	parameterType="groupArr">
  		INSERT	
  			INTO group_arr(user_no, group_no, role)
  			VALUES(#{user.userNo}, #{group.groupNo}, #{role})						
  	</insert> 
 
 	 <select id="getGroupArrByUser" parameterType="int" resultMap="groupArrSelectMap">
		SELECT
			a.user_no, 
			a.group_no, 
			a.role,
			b.group_name,
			b.group_date
			FROM group_arr a
				left outer join tb_group b on a.group_no = b.group_no
			WHERE a.user_no = #{userNo}
			ORDER BY b.group_date
	 </select> 
	 
	<delete id="deleteGroupArr" parameterType="groupArr">
		DELETE
		FROM group_arr
		WHERE user_no = #{user.userNo} 
	</delete>
	
	<select id="getListGroupArr" parameterType="groupArr" resultMap="groupArrSelectMap">
		SELECT
			a.user_no,
			a.group_no,
			b.user_name,
			b.tel,
			b.email
			FROM group_arr a
				left outer join tb_user b on a.user_no = b.user_no
			WHERE a.group_no = #{group.groupNo}
				
	 </select>

</mapper>