<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
			
<mapper namespace="GroupArrMapper">


	<resultMap type="groupArr" id="groupArrSelectMap">
		<result property="role" column="role" jdbcType="CHAR"/>
		<result property="group.groupNo" column="group_no" jdbcType="CHAR"/>
		<result property="group.groupName" column="group_name" jdbcType="CHAR"/>
		<result property="group.groupDate" column="group_date" jdbcType="DATE"/>	
		<result property="user.userNo" column="user_no" jdbcType="CHAR"/>
		
	
	
	
  	<!-- <resultMap type="groupArr" id="groupArrSelectMap">
		<result property="role" column="role" jdbcType="CHAR"/>
		
		<association property="user" javaType="user">
			<id property="userNo" column="user_no" jdbcType="INTEGER"/>
			<result property="id" column="id" jdbcType="VARCHAR"/>
			<result property="pw" column="pw" jdbcType="VARCHAR"/>
			<result property="email" column="email" jdbcType="VARCHAR"/>
			<result property="userName" column="user_name" jdbcType="VARCHAR"/>
			<result property="tel" column="tel" jdbcType="VARCHAR"/>
		</association>
	
		<association property="group" javaType="group">
			<id property="groupNo" column="group_no" jdbcType="INTEGER"/>	
	  		<result property="groupName" column="group_name" jdbcType="VARCHAR" />
			<result property="groupDate" column="group_date" jdbcType="DATE" />
		
			<association property="user" javaType="user">
				<id property="userNo" column="user_no" jdbcType="INTEGER"/>
				<result property="id" column="id" jdbcType="VARCHAR"/>
				<result property="pw" column="pw" jdbcType="VARCHAR"/>
				<result property="email" column="email" jdbcType="VARCHAR"/>
				<result property="userName" column="user_name" jdbcType="VARCHAR"/>
				<result property="tel" column="tel" jdbcType="VARCHAR"/>
			</association>
		</association> -->
		
		
		
	</resultMap>  	
  	
  	
  	<insert id="addGroupArr"	parameterType="groupArr">
  		INSERT	
  			INTO group_arr(user_no, group_no, role)
  			VALUES(#{user.userNo}, #{group.groupNo}, #{role})						
  	</insert> 
 
 	 <select id="getGroupArrByUser" parameterType="int" resultMap="groupArrSelectMap">
		SELECT
			a.user_no, 
			a.group_no, 
			a.role,
			b.group_name,
			b.group_date
			FROM group_arr a
				left outer join tb_group b on a.group_no = b.group_no
			WHERE a.user_no = #{userNo}
			ORDER BY b.group_date
	 </select> 
	 


						
  	
</mapper>