<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
			
<mapper namespace="GroupMoneyMapper">



  	<resultMap id="groupMoneySelectMap" type="groupMoney">	
  		<result property="gmNo" column="gm_no" jdbcType="INTEGER"/>
  		<result property="gmName" column="gm_name" jdbcType="VARCHAR" />
		<result property="gmDate" column="gm_date" jdbcType="DATE" />
		<result property="gmPrice" column="gm_price" jdbcType="INTEGER"/>
		<result property="group.groupNo" column="group_no" jdbcType="INTEGER"/>
		
		<!-- <association property="group" javaType="group">
			<id property="groupNo" column="group_no" jdbcType="INTEGER"/>
			<result property="groupName" column="group_name" jdbcType="VARCHAR"/>
			<result property="groupDate" column="grup_date" jdbcType="DATE"/>
		</association> -->
	</resultMap>  	
  	
  	<insert id="addGroupMoney"	parameterType="groupMoney" useGeneratedKeys="true" keyColumn="gm_no" keyProperty="gmNo">
  		
  			INSERT	
  			INTO group_money(gm_no, group_no, gm_name, gm_date, gm_price)
  			VALUES(seq_group_money_gm_no.nextval, #{group.groupNo}, #{gmName}, #{gmDate}, #{gmPrice})	
  			<selectKey  keyProperty="gmNo" resultType="int" order="AFTER">
		        SELECT seq_group_money_gm_no.currval FROM dual
		    </selectKey> 

  	</insert> 

  	 	
	<select id="getGroupMoney" parameterType="int" resultMap="groupMoneySelectMap">
		SELECT
			gm_no, group_no, gm_name, gm_date, gm_price
			FROM group_money
		WHERE gm_no = ${value}
	</select> 
  	
	<select id="getGroupMoneybyGroup" parameterType="int" resultMap="groupMoneySelectMap">
		SELECT
			gm_no, group_no, gm_name, gm_date, gm_price
			FROM group_money
		WHERE group_no = ${value}
	</select> 

	<delete id="deleteGroupMoneyByGroup" parameterType="int">
		DELETE
			FROM group_money
			WHERE group_no = #{groupNo}
	</delete> 

  	
</mapper>