<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
			
<mapper namespace="GroupMapper">

  	<resultMap id="groupSelectMap" type="group">	
  		<result property="groupNo" column="group_no" jdbcType="INTEGER"/>
  		<result property="groupName" column="group_name" jdbcType="VARCHAR" />
		<result property="groupDate" column="group_date" jdbcType="DATE" />
		<result property="user.userNo" column="user_no" jdbcType="INTEGER" />
			
			
			<!-- <association property="user" javaType="user">
				<id property="userNo" column="user_no" jdbcType="INTEGER"/>
				<result property="id" column="id" jdbcType="VARCHAR"/>
				<result property="pw" column="pw" jdbcType="VARCHAR"/>
				<result property="email" column="email" jdbcType="VARCHAR"/>
				<result property="userName" column="user_name" jdbcType="VARCHAR"/>
				<result property="tel" column="tel" jdbcType="VARCHAR"/>
			</association> -->
	</resultMap>  	
  	
  	
 
  	
  	
  	<insert id="addGroup"	parameterType="group" useGeneratedKeys="true" keyColumn="group_no" keyProperty="groupNo">
  		INSERT	
  			INTO tb_group(group_no, user_no, group_name, group_date)
  			VALUES(seq_tb_group_group_no.nextval, #{user.userNo}, #{groupName}, to_char(sysdate, 'YYYY-MM-DD'))				
  	</insert> 
  	
  	<select id="getGroup" parameterType="int" resultMap="groupSelectMap">
		SELECT
			group_no, user_no, group_name, group_date
			FROM tb_group 
				WHERE group_no = #{value}
	 </select>
  	
 	<select id="getGroupByGroupName" parameterType="group" resultMap="groupSelectMap">
		SELECT
			group_no, user_no, group_name, group_date
			FROM tb_group 
				WHERE group_name = #{groupName}
					and user_no = #{user.userNo}
	</select>

	<delete id="deleteGroup" parameterType="int">
		DELETE
			FROM tb_group
			WHERE group_no = #{groupNo}
	</delete> 
  	
  	<!-- 
  	 <select id="getGroup" parameterType="int" resultMap="groupSelectMap">
		SELECT
			group_name		
			FROM tb_group 
				WHERE group_no = #{value}
	 </select>
	 
	 <sql id="getJoinQuery">
		SELECT
		t.group_name,

		u.id, u.pw,
		u.email, u.user_name,  u.tel,
	
		FROM tb_group t, tb_user u
	</sql>

 -->

  	
  	
</mapper>