<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
			
<mapper namespace="PaymentMapper">

	<resultMap id="paymentSelectMap" type="payment">	
  	<result property="payNo" column="pay_no" jdbcType="INTEGER"/>
  	
  	<result property="method" column="method" jdbcType="VARCHAR" />
		<result property="receit" column="receit" jdbcType="VARCHAR" />
		<result property="payDate" column="pay_date" jdbcType="VARCHAR" />
		<result property="payName" column="pay_name" jdbcType="VARCHAR" />
		<result property="amount" column="amount" jdbcType="INTEGER" />
		
		<association property="group" javaType="group">
			<result property="groupNo" column="group_no" jdbcType="INTEGER"/>
  		<result property="groupName" column="group_name" jdbcType="VARCHAR" />
			<result property="groupDate" column="group_date" jdbcType="DATE" />
		
			<association property="user" javaType="user">
				<id property="userNo" column="user_no" jdbcType="INTEGER"/>
				<result property="id" column="id" jdbcType="VARCHAR"/>
				<result property="pw" column="pw" jdbcType="VARCHAR"/>
				<result property="email" column="email" jdbcType="VARCHAR"/>
				<result property="userName" column="user_name" jdbcType="VARCHAR"/>
				<result property="tel" column="tel" jdbcType="VARCHAR"/>
			</association>
							
		</association>
	</resultMap>  	
  	
	  	
  	
  	<insert id="addPayment"	parameterType="payment">
  		INSERT	
  			INTO payment(pay_no, group_no, method, receit, pay_date, pay_name, amount)
  			VALUES(seq_payment_pay_no.nextval, #{group.groupNo}, #{method}, #{receit, jdbcType=VARCHAR}, #{payDate}, #{payName}, #{amount})				
  	</insert> 


	<select id="getPaymentByGroup" parameterType="group" resultMap="paymentSelectMap">
		SELECT pay_no, group_no, method, receit, pay_date, pay_name, amount
			FROM payment
		WHERE group_no=#{groupNo} 
	</select>


	<update id="updatePayment"	parameterType="payment">
  		UPDATE payment
  		<set>	
  			method=#{method}, receit=#{receit, jdbcType=VARCHAR}, pay_date=#{payDate}, pay_name=#{payName}, amount=#{amount}
  		</set>
  		WHERE pay_no=#{payNo}				
  	</update>
  	
  	<update id="updatePaymentSameReceipt"	parameterType="payment">
  		UPDATE payment
  		<set>	
  			method=#{method}, pay_date=#{payDate}, pay_name=#{payName}, amount=#{amount}
  		</set>
  		WHERE pay_no=#{payNo}				
  	</update>
  	
	<delete id="deletePayment" parameterType="int">
		DELETE FROM payment WHERE pay_no=#{value}
	</delete>
	
	<delete id="deletePaymentByGroup" parameterType="int">
		DELETE
			FROM payment
			WHERE group_no = #{groupNo}
	</delete> 
	
	
	<select id="getMonthlyPayment" parameterType="map" resultMap="paymentSelectMap">
		SELECT TO_CHAR(pay_date, 'YYYY-MM') AS pay_date, SUM(amount) AS amount
		FROM payment
		WHERE group_no=#{groupNo} AND TO_CHAR(pay_date, 'YYYY-MM')=#{month} 
		GROUP BY TO_CHAR(pay_date, 'YYYY-MM')
	</select>
	
	<select id="getPaymentListByMonth" parameterType="payment" resultMap="paymentSelectMap">
		SELECT TO_CHAR(pay_date , 'YYYY-MM') AS pay_date, SUM(amount) AS amount
		FROM payment
		WHERE group_no=#{groupNo}
		GROUP BY TO_CHAR(pay_date, 'YYYY-MM') 
		ORDER BY pay_date
	</select>
	
	<select id="getPaymentListByMonthDuration" parameterType="payment" resultMap="paymentSelectMap">
		SELECT TO_CHAR(pay_date , 'YYYY-MM') AS pay_date, SUM(amount) AS amount
		FROM payment
		WHERE group_no=#{groupNo}
		GROUP BY TO_CHAR(pay_date, 'YYYY-MM')
		HAVING  TO_CHAR(pay_date, 'YYYY-MM') BETWEEN #{startDate} AND #{endDate}
		ORDER BY pay_date
	</select>
	
	<select id="getPaymentListByDay" parameterType="payment" resultMap="paymentSelectMap">
		SELECT pay_no, group_no, method, receit, pay_date, pay_name, amount
					FROM payment
					WHERE group_no=#{groupNo}
					ORDER BY pay_date
	</select>

	<select id="getPaymentListByDayDuration" parameterType="map" resultMap="paymentSelectMap">
		SELECT pay_no, group_no, method, receit, pay_date, pay_name, amount
					FROM payment
					WHERE group_no=#{groupNo} AND pay_date BETWEEN #{startDate} AND #{endDate}
					ORDER BY pay_date
	</select>
	
	<select id="getPaymentListByDayDurationName" parameterType="map" resultMap="paymentSelectMap">
		SELECT pay_no, group_no, method, receit, pay_date, pay_name, amount
					FROM payment
					WHERE group_no=#{groupNo} AND pay_date BETWEEN #{startDate} AND #{endDate} AND pay_name LIKE #{name} 
					ORDER BY pay_date
	</select>

	
		
</mapper>