    
   html, body {
    	height:100%;
    }
    
    
    *{
    		margin: 0;
            padding: 0;
            border: 0;
            vertical-align: baseline;
     }
		

		#home {
			float:left; font-size:2em;
			padding-left:100px;
			color:black;
			font-weight:bold;
		}
		
		#login {
			float:right; font-size:1.2em;
			padding-right:10px; 
			color:white;
		}
		
		.groupName {
			float:left; 
			font-size : 15px;
			font-weight:bold;
			padding : 10px 15px 15px 15px;
			background-color: #ccc;
		}
		
		#group {
			float:right; font-size:1.2em;
			padding-ringt:100px; 
			color:white;
			border: 1px solid #3C3B3D; 
			border-radius: 1px;
		}
		
		#user {
			width:250px;
			hight:150px;
			background: #222;
		}
		
		#header {
			width:85%;
        	height:50px; 
        	background-color:black;	
        	position: fixed;
        	top: 0;
  			right: 0;
  			z-index: 10000;
		}
		#bar {
			width:15%;
        	height:50px; 
        	background-color:black;	
        	position: fixed;
        	left:0;
        	top: 0;
  			right: 0;
  			z-index: 10000;
		}
		#var a {
			color:white;
		}
		
	/* 	#header a {
			font-size: 15px;
			color:white;
			font-family: 'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
			font-weight: bold;
		} */
		
        #content {
        	margin:0;
        	height:100%;
            width:100%; 
            overflow:auto; 
            position:relative;
          /*   background-color: #E5E9EC; */
         	background-image:url('../images/main.jpg');
        	background-repeat:no-repeat;
            background-size: cover;
            background-position:center;
            background-origin:content-box; 
			opacity: 0.9!important; filter:alpha(opacity=30);
        }
        
         #content #main {
         	min-height:100%;
        	margin-left:15%;
        	padding:150px;
        	position:relative;
        }
        
        #main:hover {
        	height:auto;
        }
        
   		#leftMenu {
        	width:15%; 
        	height:100%;
        	top:0;
			left:0;
        	position:fixed;
        	padding-top:50px;
        } 
        
       

        /*   #footer  {
            width:100%; height:50px; margin:0px auto 0; background-color:#242424; color:#ffffff;
            text-align:center; line-height:50px;
            clear:both; border:0;
        }  */
 